<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../static/icon_roller_speed.png"
      type="image/x-icon"
    />
    <title>Roller Speed</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a th:href="@{/mision}">Misión</a></li>
          <li><a th:href="@{/vision}">Visión</a></li>
          <li><a th:href="@{/valores}">Valores</a></li>
          <li><a th:href="@{/servicios}">Servicios</a></li>
          <li><a th:href="@{/eventos}">Eventos</a></li>
        </ul>
      </nav>
    </header>
    <main></main>
  </body>
</html>
